<!DOCTYPE html>
<html>

<head>
    <title>FracTect Use Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <ul class="nav-bar">
        <li class="nav-bar"><a class="nav-bar" href="/home">Home</a></li>
        <li class="nav-bar"><a class="nav-bar" href="/fractect">FracTect</a></li>
        <li class="nav-bar"><a class="nav-bar" href="/documentation">Documentation</a></li>
        <li class="nav-bar"><a class="nav-bar" href="https://github.com/jennischofield/fractect" target="_blank">Source Code</a></li>
        <li class="nav-bar" style="float:right"><a class="nav-bar" href="/about">About</a></li>
    </ul>
    <div>
        <img src="{{ url_for('static', filename='images/Fractect_logo.svg') }}" alt="FracTect Logo" height="200">

    </div>
    <div  style="padding:25px">
    <div class="section-style-error"  style="padding:25px; text-align:center">
        There has been a critical error - likely the neural network files are missing. <br>
        Verify that models\classification_model.pth and models\detection_model.pth exist.
    </div>
    </div>
    
</body>
</html>